{% extends 'base.html.twig' %}

{% block title %}Editar{% endblock %}

{% block body %}
    <h1>Editar Usuario</h1>

    {{ include('usuario/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_usuario_index') }}">Regresar a la lista.</a>

    {{ include('usuario/_delete_form.html.twig') }}
{% endblock %}
